<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    扫描service的bean-->
    <context:component-scan base-package="com.tuzhi.service"/>

    <!--    把BookServiceImp注入到IOC容器中-->
    <bean id="BookServiceImpl" class="com.tuzhi.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

    <bean id="UserServiceImpl" class="com.tuzhi.service.user.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="BookReadImpl" class="com.tuzhi.service.bookread.BookReadServiceImpl">
        <property name="bookReadMapper" ref="bookReadMapper"/>
    </bean>

    <!--    声明式事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>